
.d1{
	height: 450px;
	width:1260px;
	background-image: url('../images/pic1.jpg');
	background-repeat: no-repeat;
	background-size: cover;

}
.d11{
	height: 350px;
	width: 400px;
	/*background-color:lightpink;*/
	position: relative;
	top:50px;
	left:100px;
	font-size: 20px;

}
.d2{
	height: 500px;
	width:1260px;
	background-color:white;
}
.d3{
	height: 400px;
	width:1260px;
	background-color:lightgrey;
}
.d4{
	/*height: 300px;
	width:1260px;
	background-color:white;*/
	height: 400px;
	width:1260px;
	background-image:url('../images/pic4.jpg');
	background-size: cover;
	background-repeat: no-repeat;

	/*position: relative;
	right:30px;
	top:30px;*/


}
.d5{
	height: 450px;
	width:1260px;
	background-image: url('../images/pic5.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}
.d6{
	height: 300px;
	width:1260px;
	background-color:white;
}
.d7{
	height: 500px;
	width:1260px;
	background-color:black;
}
.d8{
	height:150px;
	width:1260px;
	background-color:grey;
	padding-top: 20px;
}
.text8{
	text-align: center;
	margin-bottom: 60px;
}
.d21{
	text-align: center;
}
.text2{
	text-align: center;
	margin-top: 2px;
}
.div2{
	height:200px;
	width:100%;
	padding-left:240px;
}
.div2_1{
	height:200px;
	width:200px;
	background-position: center;
	background-size:cover;
	opacity:50%;
	background-image:url('../images/one.jpg');
	margin-right:10px;
	float:left;
}
.div2_2{
	height:200px;
	width:200px;
	background-image:url("../images/two.jpg");
	background-position: center;
	background-size:cover;
	opacity:50%;
	margin-right:10px;
	float:left;
}
.div2_3{
	height:200px;
	width:200px;
	background-image:url("../images/three.jpg");
	background-position: center;
	background-size:cover;
	opacity:50%;
	margin-right:10px;
	float:left;
}
.div3_1{
	height:200px;
	width:200px;
	background-image:url("../images/four.jpg");
	background-position: center;
	background-size:cover;
	opacity:50%;
	margin-top:10px;
	margin-right:10px;
	float:left;
}
.div3_2 {
	height:200px;
	width:200px;
	background-image:url('../images/five.jpg');
	background-position: center;
	background-size:cover;
	opacity:50%;
	margin-top:10px;
	margin-right:10px;
	float:left;
}
.div3_3 {
	height:200px;
	width:200px;
	background-image:url("../images/six.jpg");
	background-position: center;
	background-size:cover;
	opacity:50%;
	margin-top:10px;
	margin-right:10px;
	float:left;
}
.d31{
	height: 100px;
	width: 400px;
	background-color: lightgrey;
	position: relative;
	left:200px;
	font-size: 20px;
	float: left;
	
}
.d3_2{
	color:orange;
	font-size: 50px;
}
.b1{
	background-color: orange;
}
.d32{
	height: 400px;
	width:600px;
	background-image:url('../images/fivediv.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	float: right;
}
.d41{
	height:200px;
	width: 550px;
	color:black;
	padding:10px;
	position: relative;
	left:600px;
	top:30px;
	
}
.d51{
	height:300px;
	width:550px;
	position: relative;
	top:50px;
	left:400px;
	right:50px;
	padding:10px;
	
}
/*.d52{
	height: 350px;
	width: 450px;
	background-image: url('../images/smile.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	float:right;
	position: relative;
	right:40px;
	top:20px;
}*/
.d61{
	text-align: center;
	padding: 10px;
}
.d62{
	padding:20px;
}
.d71{
	height: 50px;
	width:500;
	color:yellow;
	text-align: center;
	background-image: url('../images/pic7.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	/*position: relative;
	right:40px;
	top:20px;*/
	padding:10px;

}
.d72{
	height:300px;
	width: 1260;
	color:white;
	font-size: 15px;
}
.div7_1{
	height:300px;
	width:550px;
	float: left;
	position: relative;
	left:150px;
}
.i1{
	color:yellow;
	font-size: 30px;
}
.i2{
	color:yellow;
	font-size: 30px;
}
.div7_2{
	height: 300px;
	width:600px;
	position: relative;
	float: right;
	
	left:20px;
}
input[type]
{
	height:30px;
	width:500px;
}
textarea{
	height: 100px;
	width:500px;
}
.b2{
	border:1px solid black;
	border-radius:30px;
	background-color: yellow;
}
input[type="checkbox"]{
	height:20px;
	width:100px;
}
.span{
	height: 200px;
	width: 200px;
	position: relative;
	top:30px;
	right:50px;
}
